/TypeScript/NodeTSExample/node_modules
/TypeScript/NodeTSExample/js_backup
/TypeScript/NodeTSExample/.vscode
/TypeScript/ExpressTSExample/node_modules
/TypeScript/ExpressTSExample/.vscode
/TypeScript/ExpressTSExample/js_backup
/TypeScript/SocketIORoomsExample/node_modules
